.button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    color: rgb(0, 0, 0);
  }
  
  .red-button {
    background-color: red;
  }
  
  .blue-button {
    background-color: rgb(54, 192, 8);
  }